<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- The Flutter tool needs INTERNET for hot reload and breakpoints -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <receiver android:name=".DebugReceiver" android:exported="true">
            <intent-filter>
                <action android:name="com.lebaaar.doomwalk.DEBUG_WALK"/>
                <action android:name="com.lebaaar.doomwalk.DEBUG_SCROLL"/>
                <action android:name="com.lebaaar.doomwalk.DEBUG_DUMP"/>
                <action android:name="com.lebaaar.doomwalk.DEBUG_RESET"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
